#casasTabuleiro {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 46px;
    margin-left: 13px;
    width: 1340px;
    height: 662px;
}

#casasTabuleiro > figure {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 69px;
    width: 4.5%;
    height: 8%;
}

#casasTabuleiro > figure > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#casasTabuleiro > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 92px;
    height: 92px;
}

#casasTabuleiro > #divCasaInicio {
    margin-top: 69px;
    width: 122.5px;
    height: 104px;
}

#divCasa1 {
    margin-left: 122.5px;
    margin-top: 121px;
}

#divCasa2 {
    margin-left: 172px;
    margin-top: 213.5px;
}

#divCasa3 {
    margin-left: 208px;
    margin-top: 309px;
}

#divCasa4 {
    margin-left: 244px;
    margin-top: 401.5px;
}

#divCasa5 {
    margin-left: 310.4px;
    margin-top: 478px;
}

#divCasa6 {
    margin-left: 397.4px;
    margin-top: 529px;
}

#divCasa7 {
    margin-left: 495px;
    margin-top: 556.5px;
}

#divCasa8 {
    margin-left: 597.4px;
    margin-top: 562.5px;
}

#divCasa9 {
    margin-left: 698.1px;
    margin-top: 546.5px;
}

#divCasa10 {
    margin-left: 791.5px;
    margin-top: 506.5px;
}

#divCasa11 {
    margin-left: 855.4px;
    margin-top: 428px;
}

#divCasa12 {
    margin-left: 806.5px;
    margin-top: 335.5px;
}

#divCasa13 {
    margin-left: 710.1px;
    margin-top: 295px;
}

#divCasa14 {
    margin-left: 611.1px;
    margin-top: 266.1px;
}

#divCasa15 {
    margin-left: 527px;
    margin-top: 214.5px;
}

#divCasa16 {
    margin-left: 506.5px;
    margin-top: 121.1px;
}

#divCasa17 {
    margin-left: 565px;
    margin-top: 42.5px;
}

#divCasa18 {
    margin-left: 660.1px;
    margin-top: 13.1px;
}

#divCasa19 {
    margin-left: 762px;
    margin-top: 8.1px;
}

#divCasa20 {
    margin-left: 861.5px;
    margin-top: 35px;
}

#divCasa21 {
    margin-left: 942px;
    margin-top: 102px;
}

#divCasa22 {
    margin-left: 996.1px;
    margin-top: 188.5px;
}

#divCasa23 {
    margin-left: 1049.5px;
    margin-top: 274.5px;
}

#divCasa24 {
    margin-left: 1122.1px;
    margin-top: 342.5px;
}

#casasTabuleiro > #divCasaChegada {
    margin-left: 1218px;
    margin-top: 388px;
    width: 122px;
    height: 104.4px;
}