@charset "utf8";


#cornered {
       

 
    border-top: 100px solid #bbb;
    border-right: 100px solid #DCDCDC;
}
#texto {
	left:15px;
    width: 280px;
    height: 100px;
    background-color: #bbb;
}
#titulo{
	font-size: 40px;
}
#subtitulo{

		font-size: 30px;
		position:relative;
		top:-10px;

}
#instrucao{
height: 100px;
width:707px;
background:#bbb;
padding-top:40px;
padding-left: 110px;

}

#container-equipes{
	margin-top: 70px;
	background:#bbb;
	padding-top: 50px;
	padding-bottom: 50px;
}

#tela_principal {

	width: 1206px;
	height: 628px;
	background-color: #DCDCDC;
}
/*
#tela_principal > div > header {
	padding: 10px;
	background-color: #bbb;
	width: 200px;
	height: 50px;
	
	
}*/
#corner{
	padding: 10px;
	background-color: #DCDCDC;
	width: 50px;
	height: 50px;
	
	
	border-top: 40px solid #DCDCDC;
    border-right: 40px solid white;	
}
#tela_principal > header > h1 {
	margin-top: 5px;
}
/*
#fundo {
	position: absolute;
	margin-top: -688px;
	width: 1366px;
	height: 768px;
	background-color: #000;
	opacity: 0.8;
	display: none;
}

#espaco_informacoes {
	width: 1000px;
	margin: 40px auto;
	padding: 10px;
	background-color: #aaa;
}
*/
.numEtapas{

	font-weight: bold;
	font-size: 20px;

}
#Etapa1{
	width:50px;
	
	height: 40px;
	background-color: #696969;
	margin-top: 10px;
	position:relative;
	
	padding:5px;
}
#txt{
position:relative;
top:10px;
}
#txt2{
position:relative;
top:25px;
}
#Etapa2{
	width:50px;
	
	height: 40px;
	background-color: #aaa;
	
	
	padding:5px;
  position:relative;
  top:-80px;
  left:255px;
}

#btnProximo{
	position:relative;
	top:10px;
	
	height: 40px;
	width:100%;/*	background-image:url("caminho-da-imagem");*/

}
#btnVoltar{
	position:relative;
	top:10px;
	
	height: 40px;
	width:100%;
	/*	background-image:url("caminho-da-imagem");*/
}
#Etapa3{
	width:50px;
	
	height: 40px;
	background-color: #aaa;
	
	padding:5px;
	
  position:relative;
  top:-160px;
  left:410px;
}
.seta1:before {

  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  position:relative;
  top:-40px;
  left:190px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #aaa;
}

.seta2:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  position:relative;
  top:-120px;
  left:345px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #aaa;
}

#img_equipe_um {
	margin-left: 0px;
	margin-top: 0px;
	padding: 10px;
	width: 130px;
	height: 100px;
	background-color: #aaa;
	text-align: center;
}
#adiciona {
	margin-left: 0px;
	margin-top: 0px;
	padding: 10px;
	width: 60px;
	height: 40px;
	background-color: #aaa;
	text-align: center;
}
#remove {
	margin-left: 0px;
	margin-top: 20px;
	padding: 10px;
	width: 60px;
	height: 40px;
	background-color: #aaa;
	text-align: center;
}
/*
#campos_equipe_um {
	width: 300px;
	margin-top: -75.4px;
	margin-left: 150px;
	padding: 10px;
	background-color: #bbb;
}

#informacoesEquipeDois {
	margin-left: 510px;
	margin-top: -160px;
	width: 470px;
	height: 140px;
	background-color: #ccc;
	padding: 10px;
}
*/
#img_equipe_dois {
margin-left: 0px;
	margin-top: 0px;
	padding: 10px;
	width: 130px;
	height: 100px;
	background-color: #aaa;
	text-align: center;}
/*
#campos_equipe_dois {
	width: 300px;
	margin-top: -75.4px;
	margin-left: 150px;
	padding: 10px;
	background-color: #bbb;
}
*/
#informacoesEquipeTres {

	margin-top: 30px;
	
}

#informacoesEquipeQuatro {

	margin-top: 30px;
	
}

#img_equipe_tres {margin-left: 0px;
	margin-top: 0px;
	padding: 10px;
	width: 130px;
	height: 100px;
	background-color: #aaa;
	text-align: center;
}
/*
#campos_equipe_tres {
	width: 300px;
	margin-top: -75.4px;
	margin-left: 150px;
	padding: 10px;
	background-color: #bbb;
}

#informacoesEquipeQuatro {
	margin-left: 510px;
	margin-top: -160px;
	width: 470px;
	height: 140px;
	background-color: #ccc;
	padding: 10px;
}
*/
#img_equipe_quatro {margin-left: 0px;
	margin-top: 0px;
	padding: 10px;
	width: 130px;
	height: 100px;
	background-color: #aaa;
	text-align: center;	
}
/*
#campos_equipe_quatro {
	width: 300px;
	margin-top: -75.4px;
	margin-left: 150px;
	padding: 10px;
	background-color: #bbb;
}
*/
#espacoBotoes {
	width: 200px;
	position: relative;
	margin-left: 930px;
	margin-top: -240px;
	padding: 10px;
	
}

#telaEscolherImagem {
	position: absolute;
	margin-left: 323px;
	margin-top: -628px;
	padding: 10px;
	background-color: #aaa;
	width: 700px;
	height: 608px;
	text-align: center;
	display: none;
}
/*
#telaEscolherImagem > header {
	margin: 0 auto;
	margin-top: -10px;
	padding: 10px;
	width: 500px;
	height: 50px;
	background-color: #bbb;
}

#telaEscolherImagem > header > h2 {
	margin-top: 10px;
}

#imagemPrincipal {
	margin: 40px auto;
	padding: 10px;
	width: 250px;
	height: 250px;
	background-color: #bbb;
	border: 1px solid black;
}

#imagemEscolher {
	margin: 10px auto;
	padding: 10px;
	width: auto;
	height: auto;
	background-color: #ccc;
}

#espacoBotoesPopUp {
	width: 135px;
	margin-left: 545px;
	margin-top: 10px;
	padding: 10px;
	background-color: #ccc;
}

#tl_imagem0 {
	background-color: #ffa;
}

#tl_imagem1 {
	background-color: #0af;
}

#tl_imagem2 {
	background-color: #000;
	color: #fff;
}

#tl_imagem3 {
	background-color: #f7f;
}

#tl_imagem4 {
	background-color: #0d5;
}

#tl_imagem5 {
	background-color: #a00;
}


.add_nome_equipe {
	width: 295px;
}

.imgs {
	margin: 5px;
	padding: 10px;
	width: 75px;
	height: 75px;
	background-color: #bbb;
	border: 1px solid black;
	display: inline-block;
}*/