@charset "utf8";



#texto {
	
	padding: 10px;
	left:15px;
    width: 500px;
    height: 120px;
    background-color: #bbb;
}
#titulo{
	margin-left: 10px;
	font-size: 48px;
	line-height: 53.6px;
}
#subtitulo{

		font-size: 30px;
		position:relative;
		top:-10px;

}
#instrucao{
height: 120px;
width:765px;
background:#bbb;
padding-top:40px;
padding-left: 110px;

}

#container-opcoes{
	position: relative;
	top: 0;
	left: 0;
	margin-top:75px;
	margin-left: 275px;
	padding: 10px;
	width: 826.3px;
	height: 422.91px;
	background-color: #bbb;
}

/*#tela_principal {

	width: 1206px;
	height: 628px;
	background-color: #DCDCDC;
}*/
/*
#tela_principal > div > header {
	padding: 10px;
	background-color: #bbb;
	width: 200px;
	height: 50px;
	
	
}*/
#corner{
	padding: 10px;
	background-color: #DCDCDC;
	width: 50px;
	height: 50px;
	
	
	border-top: 40px solid #DCDCDC;
    border-right: 40px solid white;	
}
#tela_principal > header > h1 {
	margin-top: 5px;
}
/*
#fundo {
	position: absolute;
	margin-top: -688px;
	width: 1366px;
	height: 768px;
	background-color: #000;
	opacity: 0.8;
	display: none;
}

#espaco_informacoes {
	width: 1000px;
	margin: 40px auto;
	padding: 10px;
	background-color: #aaa;
}
*/
.numEtapas{

	font-weight: bold;
	font-size: 20px;

}
#Etapa1{
	width:50px;
	left: 100px;
	height: 40px;
		background-color: #aaa;

	margin-top: 20px;
	position:relative;
	
	padding:5px;
}/*
#txt{
position:relative;
top:10px;
}
#txt2{
position:relative;
top:25px;
}*/
.etapas{
	position:relative;
	left:20px;

}
#Etapa2{
	width:50px;
	background-color: #696969;
	height: 40px;
	left: 330px;
	
	padding:5px;
  position:relative;
  top:-80px;
}

#btnProximo{
	position:relative;
	top:20px;
	left:0px;
	height: 40px;
	width:100%/*	background-image:url("caminho-da-imagem");*/

}
#btnVoltar{
	position:relative;
	top:20px;
	height: 40px;
	width: 100%;
	/*	background-image:url("caminho-da-imagem");*/
}
#Etapa3{
	width:50px;
	
	height: 40px;
	background-color: #bbb;
	
	padding:5px;
	
  position:relative;
  top:-160px;
  left:490px;
}
.seta1:before {

  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  position:relative;
  top:-40px;
  left:260px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #aaa;
}

.seta2:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  position:relative;
  top:-120px;
  left:425px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #aaa;
}

#sim {
	margin-left: 15px;
	margin-top: 0px;
	padding: 10px;
	width: 60px;
	height: 40px;
}
#nao {
	position: relative;
	margin-left: 20px;
	margin-top:0px;
	padding: 10px;
	width: 60px;
	height: 40px;
	
}
.botoes{
	background-color: #aaa;
	text-align: center;
}
.botoes:hover {
	background-color: #555;
	text-align: center;
	cursor:pointer;
	color:#fff;
	border: 0.1px solid #f00;
}
#facil {position: relative;
	margin-left: 0px;
	margin-top: 0px;
	padding: 10px;
	width: 60px;
	height: 40px;
	
}
#normal {
	position: relative;
	margin-left: 20px;
	margin-top:0px;
	padding: 10px;
	width: 60px;
	height: 40px;
	
}#dificil {
	position: relative;
	left: 20px;
	margin-top: 0px;
	padding: 10px;
	width: 60px;
	height: 40px;
	}
#muitoDificil {
	position: relative;
	left: 40px;
	top:0px;
	
	width: 60px;
	height: 40px;
	}
.opcaoPrincipal{
	font-size: 30px;
}
.instrucaoOpcao{
	font-size: 15px;
}
