@charset "utf8";

#texto {
	
	padding: 10px;
	left:15px;
    width: 500px;
    height: 120px;
    background-color: #bbb;
}
#titulo{
	margin-left: 10px;
	font-size: 48px;
	line-height: 53.6px;
}
#subtitulo{

		font-size: 30px;
		position:relative;
		top:-10px;

}
#instrucao{
height: 120px;
width:765px;
background:#bbb;
padding-top:40px;
padding-left: 110px;

}

#container-opcoes{
	position: relative;
	top: 0;
	left: 0;
	margin-top:75px;
	margin-left: 275px;
	padding: 10px;
	width: 845px;
	height: 445px;
	background-color: #bbb;
}


.numEtapas {
	font-weight: bold;
	font-size: 20px;
}
#Etapa1 {
	width:50px;
	left: 100px;
	height: 40px;
	background-color: #aaa;
	margin-top: 20px;
	position:relative;
	padding:5px;
}

#txt {
	position:relative;
	top:10px;
}

#txt2 {
	position:relative;
	top:25px;
}

.etapas {
	position:relative;
	left:20px;
}

#Etapa2 {
	width:50px;
	background-color: #696969;
	height: 40px;
	left: 330px;
	padding:5px;
	position:relative;
	top:-80px;
}

#btnProximo {
	position:relative;
	top:20px;
	left:0px;
	height: 40px;
	width:100%;
}

#btnVoltar {
	position:relative;
	top:20px;
	height: 40px;
	width: 100%;
}

#Etapa3 {
	width:50px;
	height: 40px;
	background-color: #bbb;
	padding:5px;
	position:relative;
	top:-160px;
	left:490px;
}

.seta1:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	position:relative;
	top:-40px;
	left:260px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 30px solid #aaa;
}

.seta2:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	position:relative;
	top:-120px;
	left:425px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 30px solid #aaa;
}

#texto_geral{
	position:relative;
	top:10px;
	left:-60px;
	font-size: 35px;

}
#linha{
width: 844px;
height: 5px;
border:none;
color:#DCDCDC;;
background-color: #aaa;
margin-top: 0px;
margin-bottom: 10px;
position:relative;
left:-80px;
}
#container-explicacao-regras {
	height: 220px;
	width:400px;
	background-color: grey;
}

.botoes-regras {
	height:50px;
	width:50px;
	background-color: grey;
	position: relative;
}

#botao-regras2 {
	position: relative;
}

.img-integrantes {
	position: relative;
	margin-top: 30px;
	margin-bottom: 88px;
	height: 100px;
	width:100px;
	background-color: #aaa;
}