#tabuleiro {
	background: url("../img/trilha.png"),
				url("../img/caminhoTrilha.png"),
				url("../img/bgTemporario.png");
	background-repeat: no-repeat;
	background-size: 1366px 768px;
	position: absolute;
	top: 0;
	left: 0;
	width: 1366px;
	height: 768px;
}

#tabuleiroZoom {
	position: absolute;
	top: -384px;
    left: -682px;
    width: 2048px;
    height: 1152px;
}

#primeiraEquipeJogandoAgora {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 20px;
	margin-top: 639.9px;
	padding: 2px;
	width: 132.194px;
	height: 114px;
	background-color: #E9A93F;
	border: 10px solid #f3efe2;
	border-bottom: none;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#primeiraEquipeJogandoAgora > img {
	border-radius: 10px 10px 0px 0px/150px 150px 0px 0px;
}

#primeiraEquipeJogandoAgora > p {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -30px;
	width: 100%;
	text-align: center;
	font-size: 18px;
}

#segundaEquipeJogandoAgora {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 712.9px;
    margin-left: 176.2px;
    padding: 2px;
	width: 64.097px;
	height: 49px;
	background-color: #f3efe2;
	border: 2px solid #f3efe2;
	border-bottom: none;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#terceiraEquipeJogandoAgora {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 712.9px;
    margin-left: 248.2px;
    padding: 2px;
	width: 64.097px;
	height: 49px;
	border: 2px solid #f3efe2;
	background-color: #f3efe2;
	border-bottom: none;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#quartaEquipeJogandoAgora {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 712.9px;
    margin-left: 320.2px;
    padding: 2px;
	width: 64.097px;
	height: 49px;
	border: 2px solid #f3efe2;
	background-color: #f3efe2;
	border-bottom: none;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#segundaEquipeJogandoAgora > p, #terceiraEquipeJogandoAgora > p, #quartaEquipeJogandoAgora > p {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 18px;
}

#primeiraEquipeJogandoAgora > img, #segundaEquipeJogandoAgora > img, #terceiraEquipeJogandoAgora > img, #quartaEquipeJogandoAgora > img {
	width: 100%;
	height: 100%;
}

#espacoBotoesOpcao {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 735px;
    margin-left: 996px;
	width: 350px;
	height: 33px;
}

#espacoBotoesOpcao > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
}

#botaoZoom {
	margin-left: 0px;
}

#botaoPontos {
	margin-left: 87.5px;
}

#botaoOpcoes {
    margin-left: 175px;
}

#botaoAjuda {
	margin-left: 262.5px;
}

#botaoZoom > input, #botaoPontos > input, #botaoOpcoes > input, #botaoAjuda > input {
	width: 100%;
	height: 100%;
	font-size: 14px;
	border: 0;
	background-color: #f3efe2;
	font-family: 'Luckiest';
	color: #283891;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transition: all 0.5s ease;
}

#mostradorCasaAtual {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 20px;
	width: 87.5px;
	height: 33px;
	line-height: 33px;
	font-size: 25px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-family: 'Luckiest';
	color: #f3efe2;
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 550px;
    margin-left: 1020px;
	width: 100px;
	height: 100px;
	perspective: 1000px;
}

#dado {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.2s;
}

#dado > figure {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid black;
	line-height: 100px;
	font-size: 20px;
	border-radius: 10px;
	font-weight: bold;
	color: black;
	text-align: center;
}

#dado .frente {
	background: #e9a93f;
}
#dado .costa   {
	background: #98460e;
}
#dado .direita  {
	background: #6175be;
}
#dado .esquerda   {
	background: #182a68;
}
#dado .cima    {
	background: #0a1237;
}
#dado .baixo {
	background: #ffe395;
}

#dado .frente  {
	transform: rotateX(-15deg) rotateY(-20deg) translateZ(52px);
}
#dado .costa   {
	transform: rotateX(165deg) rotateY(20deg) translateZ(52px);
}
#dado .direita {
	transform: rotateX(-15deg) rotateY(70deg) translateZ(52px);
}
#dado .esquerda {
	transform: rotateX(-15deg) rotateY(-110deg) translateZ(52px);
}
#dado .cima {
    transform: rotateX(75deg) rotateZ(20deg) translateZ(52px);
}
#dado .baixo {
    transform: rotateX(-105deg) rotateZ(-20deg) translateZ(52px);
}

#dado .mostrar-frente {
	transform: translateZ(-52px);
}
#dado.mostrar-costa {
	transform: translateZ(-52px) rotateX(5deg) rotateY(-220deg) rotateZ(170deg);
}
#dado.mostrar-direita {
	transform: translateZ(-52px) rotateX(-14deg) rotateZ(13deg) rotateY(-90deg);
}
#dado.mostrar-esquerda {
	transform: translateZ(-52px) rotateX(-102deg) rotateY(108deg) rotateZ(88deg);
}
#dado.mostrar-cima {
	transform: translateZ(-52px) rotateX(-82deg) rotateY(15deg) rotateZ(-28deg);
}
#dado.mostrar-baixo {
	transform: translateZ(-52px) rotateX(85deg) rotateY(20deg) rotateZ(13deg);
}

#botaoSair {
	position: absolute;
	top: 0;
	left: 0;
    margin-left: 1258.5px;
	width: 87.5px;
	height: 33px;
}

#botaoSair > input {
	width: 100%;
	height: 100%;
	font-size: 18px;
	border: 0;
	background-color: #f3efe2;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: 'Luckiest';
	color: #283891;
	transition: all 0.5s ease;
}

#botaoCentralizarTela {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
    margin-left: 583px;
	width: 100px;
	height: 33px;
}

#botaoCentralizarTela > input {
	width: 100%;
	height: 100%;
	font-size: 15px;
	border: 0;
	background-color: #f3efe2;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: 'Luckiest';
	color: #283891;
	transition: all 0.5s ease;
}

#mostradorDirecaoMoverImagem > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	display: none;
}

/*#setaTop {
	margin-top: 51px;
    margin-left: 658px;
}

#setaBottom {
	margin-left: 658px;
	margin-top: 670px;
}

#setaLeft {
    margin-left: 51px;
	margin-top: 359px;
}

#setaRight {
	margin-left: 1263px;
	margin-top: 359px;
}*/

/*#mostradorDirecaoMoverImagem > div > img {
	width: 100%;
	height: 100%;
}*/

.fundoPopup {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 1366px;
	height: 768px;
	background-color: #000;
	opacity: 0.7;
}

.confirmacao {
	opacity: 0.5;
}